[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31"
pydantic = "~=2.4"
django = "*"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = { version = "~=5.3", extras = "crypto" }
celery = { version = "==5.3.4", extras = ["redis"]}

[dev-packages]
black = "~=23.7"
grequests = "*"
ipdb = "*"
isort = "~=5.12"
mypy = "~=1.5"
pympler = "~=1.0"
ruff = "~=0.0.291"

[requires]
python_version = "3.11"
